.PresentationTitle{
    text-align: center;
    font-size: 4em;
    margin-bottom: 6%;
}

.PresentationDiv{
    width: 60%;
    margin: auto;
}

.PresentationInfos{
    font-size: 1.3em;
    text-align: center;
}

.ProjectParagraph{
    text-align: center;
    font-size: 1.3em;
}