header{

    border-bottom: 1px solid black;
    padding: 1% 0;
    background-image: url("../../assets/Images/Water2.webp");
    background-size: cover; background-color: rgba(255, 255, 255, 0.7)
}

.HeaderDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}

.HeaderNav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.HeaderNav li {
    list-style-type: none;
    margin: 2%;
    margin-left: 50px;
}

.HeaderNav li :hover{
    color: #968850;
}

.HeaderNav a{
    text-decoration: none;
    color:#fff;
    font-weight: bold;
    font-size: 1.4em;
}

h1{
    color: #968850;
    font-size: 2.3em;
}