.SpallianTitle{
    text-align: center;
    font-size: 4em;
    margin-bottom: 6%;
}

.SpallianDiv{
    width: 60%;
    margin: auto;
}

.SpallianInfos{
    font-size: 1.3em;
    text-align: center;
}