*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'PingFang','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d9d5d5;
  color: #262F4C;
}

.container {
  width: 95%;
  margin: auto;
  text-align: center;
  padding: 3rem 0;
  margin-top: 2%;

}

@font-face {
  font-family: "PingFang";
  src: url("./fonts/PingFangRegular.ttf");
}